/* RESET */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f2f2;
  /* width: 1000px; */
}

.container {
  width: 1000px;
  margin: 0 auto;
  background-color: blue;
  margin-top: 20px;
  padding: 10px;
}

.container header {
  width: 980px;
  height: 140px;
  background: #1d7a1d;
  text-align: center;
  line-height: 140px;
}

.container .flexbox-container aside {
  width: 270px;
  height: 450px;
  background: #1d7a1d;
  text-align: center;
  line-height: 450px;
  margin-top: 16px;
  /* float: left; ya no se usa*/
}

.container main {
  width: 690px;
  height: 450px;
  background: #1d7a1d;
  text-align: center;
  line-height: 450px;
  /* clear: both; ya no se usa */
  margin-top: 16px;
}
.container footer {
  /* clear: both; Ya no se usa*/
  width: 980px;
  height: 70px;
  background: #1d7a1d;
  margin-top: 16px;
  text-align: center;
  line-height: 70px;
}
/* 2 estilos de posiciones de caja  */
/* Flex box manipula los elementos para alinearlos mas dinamicamente */
.container .flexbox-container {
  /* Display ajusta los elementos que abarcan toda la pantalla o una parte de ella */

  display: flex;
  /* aplica a todos los hijos la misma cantidad entre ellos. */
  /* justify-content: space-between; */
  gap: 20px;
}
